<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <main>
        <form class="login-form" action="/register/submit" method="POST">
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-control">
                <label for="isEmployer">Are you an employer?</label>
                <input type="checkbox" name="isEmployer" id="isEmployer">
            </div>
            <button type="submit">Register</button>
            <% if (userExists) { %>
                <p>This user is already registered</p>
            <% } %>
        </form>
    </main>
</body>
</html>